
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f0f4f8;
  color: #333;
  box-sizing: border-box;
}


nav {
  background-color: #b08968;
  padding: 1.2rem;
  text-align: right;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  margin: 0 20px;
  font-size: 1.1rem;
}

nav a:hover {
  color: #e6ccb2;
}

table {
  width: 90%;
  margin: 40px auto;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 16px;
  text-align: left;
}

th {
  background-color: #b08968;
  color: white;
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}


form {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 8px;
  background-color: white;
}

.user-detail {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 8px;
  background-color: white;
}

table td a {
  padding: 8px 12px;
  margin: 0 5px;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
  border: 1px solid #b08968; 
  border-radius: 6px;
  background-color: transparent;
  color: #5a4b3f; 
}

table td a:hover {
  background-color: #b08968; 
  color: white;
  border-color: #8b6a4f; 
}


label {
  display: block;
  margin: 15px 0 8px;
  font-weight: 500;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition: border-color 0.3s;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #b08968;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color:  #e6ccb2;
}


